<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" >
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>

                <p v-show="inventory > 10">In Stock</p>
                <p v-show="inventory <= 10 && inventory > 0">Almost out of stock!</p>
                <p v-show="inventory <= 0">Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>

</html>

<!-- 
{{}} - when Vue sees expression, references associated instances data
v-bind - dynamically binds an attribute to an expression (DATA BINDING)
v-if/v-else - Vue directives to conditionally render based on expression (removes from DOM on false)
v-show - conditionally renders by setting display: none
v-for - used for list rendering (for element in iterable)
 -->